<h1>Itens</h1>
<app-item *ngFor="let item of itens" [item]="item">
  <input type="checkbox" [(ngModel)]="item.checked"/>
</app-item>
<hr/>
<app-multiples *ngFor="let item of itens">
  <span title>{{item.title}}</span>
  <span description>
    {{item.description}}
    <p>
      <app-item [item]="item">
        <input type="checkbox" [(ngModel)]="item.checked"/>
      </app-item>
    </p>
  </span>
  <div actions>
    <button (click)="acao1(item.title)">Acao 1</button>
    <button (click)="acao2(item.description)">Acao 2</button>
  </div>
</app-multiples>
